<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="card content" style="width: 70%; margin-left: auto; margin-right: auto">
  <div class="snap-container">
  <button class="btn btn-danger" (click)="SignInWithGoogle()" style="margin:20px;">
    <img src="https://raw.githubusercontent.com/bkevin1052/ZuperApp/master/ZuperApp/icons/google.png"
      style="width: 30px" />
  </button>
  <button id="bLogIn" class="btn btn-warning" (click)="login()" style="width: 10%; ">
    Log In
  </button>
</div>
  <div class="card-body">
    <h1> Face App</h1>

    <input type="file" (change)="OnFileSelected($event)">

    <video style="width: 70%; margin-left: auto; margin-right: auto" [class.show]="!isCaptured"
      [class.hide]="isCaptured" #video id="video" [width]="WIDTH" [height]="HEIGHT" autoplay></video>
    <canvas style="width: 70%; margin-left: auto; margin-right: auto" [class.show]="isCaptured"
      [class.hide]="!isCaptured" #canvas id="canvas" [width]="WIDTH" [height]="HEIGHT"></canvas>
  </div>

  <div class="snap-container">
    <button class="btn btn-primary" *ngIf="!isCaptured" (click)="capture()">Snap Photo</button>

    <button class="btn btn-danger" *ngIf="isCaptured" (click)="removeCurrent()">Take Another</button>

    <button class="btn btn-success" *ngIf="isCaptured" style="margin:20px;">Analyze Photo</button>

  </div>

  <ul class="list-unstyled">
    <li *ngFor="let src of captures; let idx = index" (click)="setPhoto(idx)">
      <img [src]="src" height="50" />
    </li>
  </ul>
  <a routerLink="/register">Create an Account!</a>
  <br />
  <a routerLink="/forgotpassword">Forgot Password?</a>
  <p style="text-align: center" class="mt-5 mb-3 text-muted">© 2021</p>
