<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="card content" style="width: 80%; height: 80%; margin-left: auto; margin-right: auto; position: absolute">
<div class="card-body" >
  <h1> Face App</h1>

  <div class="row">
    <div class="col-sm-6">
      <input type="file" id="Photo1" (change)="OnFileSelected1($event)">
    </div>
    <div class="col-sm-6">
      <input type="file" id="Photo2" (change)="OnFileSelected2($event)">
    </div>
  </div>

  <video style="width: 70%; height: 90%; margin-left: auto; margin-right: auto" [class.show]="!isCaptured" [class.hide]="isCaptured" #video id="video" [width]="WIDTH" [height]="HEIGHT"
    autoplay></video>

  <canvas style="height: 50%; margin-left: auto; margin-right: auto"  [class.show]="isCaptured" [class.hide]="!isCaptured" #canvas id="canvas" [width]="WIDTH"
    [height]="HEIGHT"></canvas>
</div>
  
<div class="snap-container" style="margin-top: 10vw;">
  
  <button class="btn btn-primary"  (click)="capture()" style="margin:20px;">Snap Photo</button>
  
  <button class="btn btn-danger"  (click)="removeCurrent()" style="margin:20px;">Take Another</button>
  
  <button class="btn btn-success" (click)="analyze()" style="margin:20px;">Analyze Photo</button>
  
</div>

<ul class="list-unstyled">
  <li *ngFor="let src of captures; let idx = index" (click)="setPhoto(idx)">
    <img [src]="src" height="50" />
  </li>
</ul>
